<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CADisableMinimumFrameDurationOnPhone</key>
        <true/>
        <key>NSLocationWhenInUseUsageDescription</key>
        <string>We need your location to display local data and fetch your current GPS coordinates.</string>
        <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
        <string>We need your location to update metrics even when the app is in the background.</string>
    </dict>
</plist>
